<h4 class="page-header">Vue d'ensemble</h4>
<table class="table table-bordered">
    <tr>
        <td>
            Nom du mage
        </td>
        <td>
            {mageName}
        </td>
    </tr>
    <tr>
        <td>
            Type du mage
        </td>
        <td>
            {mageType}
        </td>
    </tr>
    <tr>
        <td>
            Attaque
        </td>
        <td>
            {mageAttack}
        </td>
    </tr>
    <tr>
        <td>
            Point de vie
        </td>
        <td>
            {mageHP}
        </td>
    </tr>
    <tr>
        <td>
            Support
        </td>
        <td>
            {mageSupport}
        </td>
    </tr>
    <tr>
        <td>
            Expérience
        </td>
        <td>
            <div class="progress-bar" role="progressbar" aria-valuenow="{mageXP}" aria-valuemin="0" aria-valuemax="{mageXPMax}" style="width: {magePercentXP}%">
                {mageXP} / {mageXPMax}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Argent
        </td>
        <td>
            {mageGold}
        </td>
    </tr>
    <tr>
        <td>
            Influence
        </td>
        <td>
            {mageInfluence}
        </td>
    </tr>
</table>