<h4 class="page-header">Vue d'ensemble</h4>
<table class="table table-bordered">
    <tr>
        <td>
            Nom du mage
        </td>
        <td>
            {mageName}
        </td>
    </tr>
    <tr>
        <td>
            Type du mage
        </td>
        <td>
            {mageType}
        </td>
    </tr>
    <tr>
        <td>
            Attaque
        </td>
        <td>
            {mageAttack}
        </td>
    </tr>
    <tr>
        <td>
            Point de vie
        </td>
        <td>
            {mageHP}
        </td>
    </tr>
    <tr>
        <td>
            Support
        </td>
        <td>
            {mageSupport}
        </td>
    </tr>
    <tr>
        <td>
            Expérience
        </td>
        <td>
            {mageXP} / {mageXPMax}
        </td>
    </tr>
</table>